<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catalogues</title>
  <link rel="stylesheet" href="/css/items.css">
  <link rel="stylesheet" href="/css/catalogues.css">
  <link rel="stylesheet" href="/css/searchResult.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/fonts.css">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body>

  <%- include('partials/header') %>

  <!-- Breadcrumb Image -->
  <div class="breadcrumb-image">
    <div class="breadcrumb-text">
      <!-- Display final category or sub-category -->
      <h1>Catalogues</h1>
      <p>
        <a href="/">Home</a>
        / <a href="/catalogues">Catalogues</a>
      </p>
    </div>
  </div>

  <!-- Catalogue Section -->
  <div class="search-section" style="padding-top: 90px;">
    <% if (catalogues.length > 0) { %>
    <div class="category-grid">
      <% catalogues.forEach(item => { %>
      <div class="top-selling-card">
        <img src="/api/getImage2/<%= item._id %>" alt="<%= item.name %>" class="top-selling-image">

        <div class="top-selling-info">
          <h4 class="category-name"><%= item.name %></h4>
        </div>
        <a href="<%= item.link %>" class="view-details-button" target="_blank" rel="noopener noreferrer">View Online</a>
      </div>
      <% }) %>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination">
      <% if (currentPage > 1) { %>
      <a href="/catalogues?page=<%= currentPage - 1 %>">Prev</a>
      <% } %>

      <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="/catalogues?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>">
        <%= i %>
      </a>
      <% } %>

      <% if (currentPage < totalPages) { %>
      <a href="/catalogues?page=<%= currentPage + 1 %>">Next</a>
      <% } %>
    </div>
    <% } else { %>
    <p>No items available in the catalogue.</p>
    <% } %>
  </div>

  <%- include('partials/MobileMenu') %>
  <%- include('partials/footer') %>

</body>

</html>